<!-- header -->
<app-header [title]="title"></app-header>

<!-- Main Content -->
<div class="banner" style="
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
      url(assets/banner_management.jpg);
  ">
    <h1>{{ title }}</h1>
</div>
<main class="container">
    <a href="#" routerLink="/activity/add" class="btn btn-primary">Add a new Activity</a>
    <div class="table-responsive">
        <table class="table table-bordered table-striped table-hover">
            <!-- Header Row-->
            <tr>
                <th class="text-center">Activity Name</th>
                <th class="text-center">Image</th>
                <th class="text-center">Status</th>
                <th class="text-center">Description</th>
                <th class="text-center" colspan="3">Actions</th>
            </tr>
            <tr *ngFor="let item of activityManagementList">
                <td class="text-center">
                    {{ item.title }}
                </td>
                <td class="text-center">
                    <img src="{{ item.picture }}" />
                </td>
                <td class="text-center">
                    {{ item.status }}
                </td>
                <td class="text-center">
                    {{ item.description }}
                </td>
                <!-- Details -->
                <td class="text-center">
                    <button *ngIf="item.status !== 'Disable'" [routerLink]="['/activity/participants/' + item._id]"
                        class="btn bg-primary btn-primary btn-sm"
                        style="padding:10px 12px; background-color: darkcyan!important; --bs-btn-border-color: darkcyan; --bs-btn-hover-border-color: darkcyan!important">
                        <i class="fa-solid fa-users"></i>
                    </button>
                </td>
                <!-- Edit -->
                <td class="text-center">
                    <button *ngIf="item.status !== 'Disable'" [routerLink]="['/activity/edit/' + item._id]"
                        class="btn bg-primary  btn-primary btn-sm"
                        style="padding:10px 12px; background-color: lightblue!important; --bs-btn-border-color: lightblue(162, 124, 193); --bs-btn-hover-border-color: lightblue!important">
                        <i class="fa-solid fa-pencil-alt"></i>
                    </button>
                </td>
                <!-- Disable -->

                <td class="text-center">
                    <button *ngIf="item.status !== 'Disable'" (click)="deleteMethod(item._id)"
                        class="btn bg-danger btn-warning btn-sm"
                        style="padding:10px 12px; background-color: lightgrey!important; --bs-btn-border-color: lightgrey; --bs-btn-hover-border-color: lightgrey!important">
                        <i class="fa-solid fa-eye-slash"></i>
                    </button>
                </td>
            </tr>
        </table>
    </div>
</main>
<!-- Footer -->
<app-footer></app-footer>