<!-- header -->
<app-header [title]="title"></app-header>

<!-- Main Content -->
<div class="banner" style="
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
      url(assets/banner_management.jpg);
  ">
    <h1>{{ title }}</h1>
</div>
<main class="container">
    <div class="table-responsive">
        <table class="table table-bordered table-striped table-hover">
            <!-- Header Row-->
            <tr>
                <th class="text-center">First Name</th>
                <th class="text-center">Last Name</th>
                <th class="text-center">Email</th>
            </tr>
            <!-- <tr *ngFor="let item of user">
            
                <td class="text-center">
                    {{ item.firstName}}
                </td>
                <td class="text-center">
                    {{ item.lastName }}
                </td>
                <td class="text-center">
                    {{ item.email }}
                </td>
            </tr> -->
            <tr>
                <td class="text-center">
                    {{participants[0]?.participant?.firstName}}
                </td>
                <td class="text-center">
                    {{participants[0]?.participant?.lastName}}
                </td>
                <td class="text-center">
                    {{participants[0]?.participant?.email}}
                </td>

            </tr>
        </table>
    </div>
</main>
<!-- Footer -->
<app-footer></app-footer>