<head>
  <link
    href="//fonts.googleapis.com/css?family=Abril+Fatface"
    rel="stylesheet"
  />
  <link href="https://fonts.googleapis.com/css?family=Abel" rel="stylesheet" />
</head>
<div class="logobar">
  <div class="logo"></div>
  <div class="profile">
    <a
      *ngIf="auth.username != null"
      class="nav-link"
      routerLink=""
      (click)="logout()"
      >LOGOUT ({{ auth.username }})</a
    >
    <a *ngIf="auth.username == null" class="nav-link" routerLink="/user/login"
      >SIGN UP / LOGIN</a
    >
  </div>
</div>
<div class="logobar">
  <a class="navbar-brand" href="#" routerLink="/admin/dashboard">
    <img src="../../assets/site_logo.jpg" alt="Site Logo" width="200" />
  </a>
</div>
